body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;	
	background-color: #849d8f;
}

.logo {
	width: 154px;
	height: 64px;
}

a {
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	
}

.button {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
	height: 44px;
	background: linear-gradient(to top, #ca3824 0%, #f26843 100%);
	border-style: none;
	outline: none;
}

.button:hover,
.button:focus {
	color: #ffffff;
	background: linear-gradient(to top, #ec6f5e 0%, #f58669 100%);
}

.button:active {
	color: #ffffff;
	background: linear-gradient(to bottom, #d74531 0%, #e1613e 100%);
}

.button-main-slider button {
	background: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.button-main-slider button {
	background: linear-gradient(to bottom, #d74632 0%, #e1613e 100%);
}
	

input[type="text"],
input[type="password"],
input [type="email"],
textarea {
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
}

input:hover,
textarea:hover {
	border: 2px solid #c7c6c5;
}

input:focus,
textarea:focus {
	border: 2px solid #8fbdec;
	font-weight: 700;
	color: #323232;
}

.site-navigation,
.user-navigation, 
.site-navigation-sub {
	list-style: none;
}

.site-navigation a {
	font-weight: 700;
	line-height: 18px;
}

.site-navigation-sub {
	width: 143px;
	height: 171px;
	background-color: #f8f7f4; 
}

.site-navigation-sub a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
	text-decoration: none;
}

a.site-navigation-sub_novelty-link {
	font-weight: 700;
}

.site-navigation-link-current {
	color: #ffffff;
	background-color: #d07058;
}

.user-navigation a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	text-decoration: none;
	background-color: #a1b4a9;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus {
	color: #323232;
	background-color: #f8f7f4;
}

.site-navigation a:active {
	color: #ffffff;
	background-color: #d07058; 
}

.site-navigation-sub a:hover,
.site-navigation-sub a:focus {
	color: #323232;
	background-color: #fbded7; 
}

.site-navigation-sub a:active {
	color: #323232;
	background-color: #f6b5a5;
}

.search-form {
	background-color: #f8f7f4;
	width: 341px;
	height: 84px;
}

.login-form {
	background-color: #f8f7f4;
	width: 277px;
	height: 214px;
}

.login-form label {
	font-size: 14px;
	line-height: 24px;
}

.search-form input {
	width: 311px;
	height: 44px;
}

.login-form input {
	width: 241px;
	height: 44px;
}

.button-login-form {
	width: 100px;
}

.restore-registration-links a {
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	background-color: #f8f7f4;
	text-decoration: underline;
}

.order {
	width: 539px;
	height: 242px;
	background-color: #f8f7f4;
}

.order-form {
	list-style: none;
}

.order-item p {
	color: #323232;
	font-size: 13px;
	line-height: 16px;
}

.order-item-price span {
	color: #999999;
}

a.order-item-close {
	color: #323232;
	background-color: #f8f7f4;
}

.order-button {
	width: 170px;
}

.order-item-total {
	color: #323232;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
}

.breadcrumbs {
	list-style: none;
}	

.breadcrumbs a {
	font-size: 14px;
	line-height: 16px;
}

.breadcrumbs-current {
	text-decoration: none;
}

.page-title {
	font-size: 35px;
	line-height: 41px;
}

.filter ul {
	list-style: none;
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.filter label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.filter-sorting {
	width: 194px;
	height: 37px;
	color: white;
	background-color: #9db1a5;
}

.filter-sorting:hover {
	color: #323232;
	background-color: #9db1a5;
}

.filter-button {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	background-color: #9cb0a4;
	color: #ffffff;
	border-style: none;
}

.filter-button:hover,
.filter-button:focus  {
	color: #323232;
	background: #fbfcfb;
}

.filter-button:active {
	color: 323232;
	background: #eaeaea;
}

.header-contacts-text {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
}

.header-contacts-tel {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
}

.main-slider {
	list-style: none;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
}

.button-main-slider {
	font-size: 32px;
	line-height: 44px;
}

.slides-switches {
	list-style: none;
}

.slide-button {
	width: 21px;
	height: 21px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	background-color: transparent;
}

.bonus-list {
	list-style: none;
}

.bonus-item-raspberry,	
.bonus-item-chocolate {
	width: 560px;
	height: 229px;
}

.bonus-item-raspberry h3,
.bonus-item-chocolate h3 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.bonus-item-raspberry {
	background-color: #71030f;
	background-image: url("../img/bg_bonus-raspberry.jpg");
	background-repeat: no-repeat;
}

.bonus-item-chocolate {
	background-color: #21110e;
	background-image: url("../img/bg_bonus-chocolate.jpg");
	background-repeat: no-repeat;
}

.bonus-item-raspberry p,
.bonus-item-chocolate p {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}

.button-bonus-list {
	width: 189px;
}

.catalog-list {
	list-style: none;
}

.catalog-item-description a {
	line-height: 22px;
}

.catalog-item-description a:hover,
.catalog-item-description a:focus,
.catalog-item-description a:active {
	color: #ffbc9e;
}

.catalog-item-price {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}

.catalog-item-weight {
	font-size: 30px;
	line-height: 45px;
	font-weight: 700;
}

.visually-hidden-price span {
	visibility: hidden;
}

.visually-hidden-price::after{
	content: "\20BD";
}

.catalog-item::before {
	width: 35px;
	height: 35px;
	content: url("../img/hit.svg");
}

.about {
	color: #323232;
	background-color: #ede1c6;
	background-image: url("../img/bg_waffle-pattern.png");
}

.about-item {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.about-item p {
	line-height: 22px;
}

.blog-news {
	color: #323232;
	background-color: #ffffff;
	background-image: url("../img/bg_blog-post.png");
	background-repeat: no-repeat;
	width: 560px;
	height: 220px;
}

.blog-news p {
	font-weight: 500;
}

.blog-news-link {
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}

.blog-news-link:hover,
.blog-news-link:focus,
.blog-news-link:active {
	color: #e84d37;
}
	
.newsletter {
	background-image: url("../img/bg_newsletter.svg");
	background-repeat: no-repeat;
	width: 560px;
	height: 220px;
}

.newsletter-info {
	background-color: #f8f7f4;	
	width: 549px;
	height: 211px;
}

.newsletter p {
	color: #323232;
	line-height: 22px;
}

.subscription-form input {
	width: 368px;
	height: 44px;
}

.button-subscription-form {
	width: 129px;
}

.location {
	color: #323232;
	background-color: #ffffff;
	width: 302px;
	height: 305px;
}

.location p {
	font-size: 14px;
	line-height: 20px;
}

.location b {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.button-feedback-form {
	width: 252px;
}

.feedback-form {
	color: #323232;
	background-color: #f8f7f4;
	width: 478px;
	height: 443px;
}

.feedback-form input {
	width: 267px;
	height: 44px;
	font-size: 16px;
	line-height: 24px;
}

.feedback-form textarea {
	width: 428px;
	height: 155px;
	font-size: 16px;
	line-height: 24px;
}

.feedback-form-button {
	width: 139px;
}

.feedback-form h2 {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
}

.paginator-list {
	list-style: none;
}

.paginator-item a,
.paginator-item-next a {
	text-decoration: none;
	color: #ffffff;
}

.paginator-item a:hover,
.paginator-item a:focus {
	color: #ffffff;
	background-color: #9db1a5;
}

.paginator-item a:active, 
.paginator-item-current a,
.paginator-item-current a:hover,
.paginator-item-current a:focus {
	color: #323232;
	background-color: #ffffff;
}

.paginator-item-prev a {
	text-decoration: none;
	color: #9db1a5;
}

.footer-social li {
	list-style: none;
}

.social-button {
	width: 32px;
	height: 32px;
}

.footer-info {
	background-image: url("../img/icon_heart.svg");
	background-repeat: no-repeat;
}

.footer-info li {
	list-style: none;
}

.footer-info a {
	font-size: 13px;
	line-height: 16px;
}

.footer-info a:hover,
.footer-info a:focus,
.footer-info a:active,
.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
	color: #ffbc9e;
}

.footer-copyright,
.footer-copyright a {
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
}



